@import '../../shared/variables.styl'

.likearts-content .section-3
	position relative
	width 100%
	height auto
	min-height 1244px
	background-image url('../../images/bg/2.png')
	z-index 1
	margin-top -450px