@import '../../shared/variables.styl'

.likearts-content .section-5
	position relative
	width 100%
	height auto
	min-height 1518px
	background-image url('../../images/bg/3.png')
	z-index 1
	margin-top -480px