@import '../../shared/variables.styl'

.likearts-content .print-btn
	border 0
	background-color $primary-color
	color #fff
	border-radius 50px
	font-weight 700
	font-size 1.8rem
	padding 22px 65px
	outline none
	user-select none
	transition all .2s ease-in-out
	text-align center
	@media all and (max-width: 992px)
		padding 20px 40px
	@media all and (max-width: $tablet)
		padding 16px 20px
		font-size 1.4rem
	&:hover
		box-shadow 0 14px 45px rgba(30, 206, 244, 0.25), 0 10px 18px rgba(30, 206, 244, 0.22)
	&:focus
		outline none
	&:active
		transform scale(0.95)

	&--max
		width 100%
		padding 20px 25px

	&--black
		background-color #373737
		&:hover
			box-shadow 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22)

	&--card
		width 100%
		padding 16px 10px
		background-color #fff
		border 2px solid $primary-color
		color $color-text
		@media all and (max-width: $phone)
			padding 16px 5px
			font-size 1.2rem
		&:hover
			box-shadow none

	&--transparent
		background-color transparent
		border 2px solid #fff
		color #fff
