@import '../../shared/variables.styl'

.likearts-content .section-7
	position relative
	width 100%
	height auto
	background-image url('../../images/bg/4.png')
	z-index 1

	&__content
		position relative
		width 100%
		height 675px
		display flex
		flex-flow row wrap
		justify-content flex-end
		align-items center
		@media all and (max-width: $tablet)
			justify-content center

	&__card
		position relative
		width 100%
		height auto
		max-width 420px
		background-color $primary-color

	&__address
		width 100%
		background-color #fff
		padding 31px 39px 30px 39px
		margin 0

	&__card-btn-layout
		margin 34px 80px

	&__card-title
		font-size 3rem
		font-weight 900
		margin-bottom 30px
		@media all and (max-width: $tablet)
			font-size 2rem

	&__address-name
		color #d3d3d3
		text-transform uppercase
		font-size 1.1rem
		font-weight 500
		margin-bottom 10px

	&__address-value
		color #4a4a4a
		font-size 1.7rem
		font-weight 500
		@media all and (max-width: $tablet)
			font-size 1.4rem

		span
			color #ccc

	&__address-group
		margin-bottom 24px
		&:last-child
			margin-bottom 0
