@import '../../shared/variables.styl'

.likearts-content .slick-prev,
.likearts-content .slick-next
	font-size 0
	line-height 0
	position absolute
	top 50%
	display block
	width 50px
	height 50px
	padding 0
	-webkit-transform translate(0, -50%)
	-ms-transform translate(0, -50%)
	transform translate(0, -50%)
	cursor pointer
	border none
	outline none
	background-color #212121
	border-radius 50%
	transition background-color .2s ease-in-out
	@media screen and (max-width: 768px)
		width 40px
	&:hover
		background-color $primary-color
	
.likearts-content .slick-prev::hover,
.likearts-content .slick-prev::focus,
.likearts-content .slick-next::hover,
.likearts-content .slick-next::focus
	outline none

.likearts-content .slick-prevhover::before,
.likearts-content .slick-prevfocus::before,
.likearts-content .slick-nexthover::before,
.likearts-content .slick-nextfocus::before
	opacity 1

.likearts-content .slick-prev.slick-disabled::before,
.likearts-content .slick-next.slick-disabled::before
	opacity .25


.likearts-content .slick-prev::before,
.likearts-content .slick-next::before
	font-size 3rem
	color #fff

.likearts-content .slick-prev
	left -100px
	@media screen and (max-width: 1400px)
		display none!important

.likearts-content .slick-prev::before
	content '‹'
	position absolute
	top 48%
	left 48%
	transform translate(-50%, -55%)

[dir='rtl'] .slick-prev::before
	content '‹'

.likearts-content .slick-next
	right -100px
	@media screen and (max-width: 1400px)
		display none!important

.likearts-content .slick-next::before
	content '›'
	position absolute
	top 48%
	left 48%
	transform translate(-40%, -55%)

[dir='rtl'] .slick-next::before
	content '›'

.slick-slide, .slick-slide *
	outline none!important
