@import '../../shared/variables.styl'

.likearts-content .print-form
	width 100%
	height auto
	margin 0

	&__flex-wrap
		display flex
		flex-flow row wrap
		justify-content center
		align-items stretch

	&__btn
		display flex
		justify-content center
		align-items center
		background-color #424242
		font-size 1.6rem
		font-weight 100
		&:hover
			box-shadow none
		@media all and (max-width: $phone)
			padding 10px

	&__btn-icon
		margin-right 15px
	
	&__input-wrap
		position relative
		width 100%
		margin-bottom 20px
		@media all and (max-width: 992px)
			margin-bottom 10px

	&__input
		display block
		width 100%
		background-color transparent
		border 1px solid #e1e1e1
		padding 20px 50px 20px 24px
		font-size 1.6rem
		font-weight 100
		margin 0 auto
		transition all .2s ease-in-out
		@media all and (max-width: $phone)
			padding 10px

		&:focus
			outline none
			background-color #fff
			color #000
			border 1px solid $primary-color

		&::-webkit-input-placeholder
			font-weight 100
			color #2c2c2c

		&::-moz-placeholder
			font-weight 100
			color #2c2c2c

		&:-moz-placeholder
			font-weight 100
			color #2c2c2c

		&:-ms-input-placeholder
			font-weight 100
			color #2c2c2c

	&__textarea
		resize none
		min-height 150px
		text-align left
		@media all and (max-width: 992px)
			min-height 140px
		@media all and (max-width: $phone)
			min-height 80px

	&__input-icon
		position absolute
		display inline-block
		top 0
		right 0
		transform translate(-100%, 100%)
		width 21px
		height 21px
		@media all and (max-width: $phone)
			transform translate(-100%, 50%)

		&--user
			background-image url('../../images/icons/form/user.png')

		&--phone
			background-image url('../../images/icons/form/phone.png')

		&--letter
			background-image url('../../images/icons/form/letter.png')

		&--textarea
			background-image url('../../images/icons/form/textarea.png')

	.print-form__input--user:focus + .print-form__input-icon--user
		background-image url('../../images/icons/form/user--b.png')

	.print-form__input--phone:focus + .print-form__input-icon--phone
		background-image url('../../images/icons/form/phone--b.png')

	.print-form__input--letter:focus + .print-form__input-icon--letter
		background-image url('../../images/icons/form/letter--b.png')

	.print-form__input--textarea:focus + .print-form__input-icon--textarea
		background-image url('../../images/icons/form/textarea--b.png')

	.sign
		text-align center
		margin-top 15px
		font-size 1.6rem
		font-weight 100