@import '../../shared/variables.styl'

.likearts-content .print-form
	display flex
	flex-flow column wrap
	justify-content center
	align-items center
	width 524px
	height 524px
	border 5px solid #fff
	border-radius 50%
	margin 0
	padding 20px
	@media all and (max-width: 1200px)
		width 424px
		height 424px
	@media all and (max-width: 1020px)
		width 100%
		height auto
		border 0


	&__title
		text-align center
		color #fff
		font-size 1.7rem
		font-weight 300
		margin 0 0 37px 0
		@media all and (max-width: 1200px)
			margin 0 0 10px 0
		@media all and (max-width: $tablet)
			font-size 1.5rem

		span
			font-size 2.4rem
			font-weight 900
			@media all and (max-width: $tablet)
				font-size 2rem
				margin 0 0 20px 0
	
	&__input-wrap
		position relative
		width 100%
		max-width 288px
		margin 0 0 20px 0
		@media all and (max-width: 1200px)
			margin 0 0 10px 0

	&__input
		display block
		width 100%
		border 1px solid #fff
		background-color transparent
		border-radius 50px
		padding 20px 50px 20px 24px
		color #fff
		font-size 1.6rem
		font-weight 100
		margin 0 auto
		transition all .2s ease-in-out
		@media all and (max-width: 992px)
			box-shadow 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12)

		&:focus
			outline none
			background-color #fff
			color #000
			border 1px solid $primary-color
			box-shadow 0 3px 10px rgba(30, 206, 244, 0.16), 0 3px 10px rgba(30, 206, 244, 0.23)

	&__input-icon
		position absolute
		display inline-block
		top 50%
		right 0
		transform translate(-100%, -50%)
		width 21px
		height 21px

		&--user
			background-image url('../../images/icons/user--w.png')

		&--phone
			background-image url('../../images/icons/phone--w.png')

	.print-form__input--user:focus + .print-form__input-icon--user
		background-image url('../../images/icons/user.png')

	.print-form__input--phone:focus + .print-form__input-icon--phone
		background-image url('../../images/icons/phone.png')
