.likearts-content .print-form {
  width: 100%;
  height: auto;
  margin: 0;
}
.likearts-content .print-form__flex-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.likearts-content .print-form__btn {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #424242;
  font-size: 1.6rem;
  font-weight: 100;
}
.likearts-content .print-form__btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media all and (max-width: 640px) {
  .likearts-content .print-form__btn {
    padding: 10px;
  }
}
.likearts-content .print-form__btn-icon {
  margin-right: 15px;
}
.likearts-content .print-form__input-wrap {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
@media all and (max-width: 992px) {
  .likearts-content .print-form__input-wrap {
    margin-bottom: 10px;
  }
}
.likearts-content .print-form__input {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 1px solid #e1e1e1;
  padding: 20px 50px 20px 24px;
  font-size: 1.6rem;
  font-weight: 100;
  margin: 0 auto;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media all and (max-width: 640px) {
  .likearts-content .print-form__input {
    padding: 10px;
  }
}
.likearts-content .print-form__input:focus {
  outline: none;
  background-color: #fff;
  color: #000;
  border: 1px solid #1ecef4;
}
.likearts-content .print-form__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #2c2c2c;
}
.likearts-content .print-form__input::-moz-placeholder {
  font-weight: 100;
  color: #2c2c2c;
}
.likearts-content .print-form__input:-moz-placeholder {
  font-weight: 100;
  color: #2c2c2c;
}
.likearts-content .print-form__input:-ms-input-placeholder {
  font-weight: 100;
  color: #2c2c2c;
}
.likearts-content .print-form__textarea {
  resize: none;
  min-height: 150px;
  text-align: left;
}
@media all and (max-width: 992px) {
  .likearts-content .print-form__textarea {
    min-height: 140px;
  }
}
@media all and (max-width: 640px) {
  .likearts-content .print-form__textarea {
    min-height: 80px;
  }
}
.likearts-content .print-form__input-icon {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  -webkit-transform: translate(-100%, 100%);
  -moz-transform: translate(-100%, 100%);
  -o-transform: translate(-100%, 100%);
  -ms-transform: translate(-100%, 100%);
  transform: translate(-100%, 100%);
  width: 21px;
  height: 21px;
}
@media all and (max-width: 640px) {
  .likearts-content .print-form__input-icon {
    -webkit-transform: translate(-100%, 50%);
    -moz-transform: translate(-100%, 50%);
    -o-transform: translate(-100%, 50%);
    -ms-transform: translate(-100%, 50%);
    transform: translate(-100%, 50%);
  }
}
.likearts-content .print-form__input-icon--user {
  background-image: url("../../images/icons/form/user.png");
}
.likearts-content .print-form__input-icon--phone {
  background-image: url("../../images/icons/form/phone.png");
}
.likearts-content .print-form__input-icon--letter {
  background-image: url("../../images/icons/form/letter.png");
}
.likearts-content .print-form__input-icon--textarea {
  background-image: url("../../images/icons/form/textarea.png");
}
.likearts-content .print-form .print-form__input--user:focus + .print-form__input-icon--user {
  background-image: url("../../images/icons/form/user--b.png");
}
.likearts-content .print-form .print-form__input--phone:focus + .print-form__input-icon--phone {
  background-image: url("../../images/icons/form/phone--b.png");
}
.likearts-content .print-form .print-form__input--letter:focus + .print-form__input-icon--letter {
  background-image: url("../../images/icons/form/letter--b.png");
}
.likearts-content .print-form .print-form__input--textarea:focus + .print-form__input-icon--textarea {
  background-image: url("../../images/icons/form/textarea--b.png");
}
.likearts-content .print-form .sign {
  text-align: center;
  margin-top: 15px;
  font-size: 1.6rem;
  font-weight: 100;
}
