.likearts-content .print-form {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 524px;
  height: 524px;
  border: 5px solid #fff;
  border-radius: 50%;
  margin: 0;
  padding: 20px;
}
@media all and (max-width: 1200px) {
  .likearts-content .print-form {
    width: 424px;
    height: 424px;
  }
}
@media all and (max-width: 1020px) {
  .likearts-content .print-form {
    width: 100%;
    height: auto;
    border: 0;
  }
}
.likearts-content .print-form__title {
  text-align: center;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 300;
  margin: 0 0 37px 0;
}
@media all and (max-width: 1200px) {
  .likearts-content .print-form__title {
    margin: 0 0 10px 0;
  }
}
@media all and (max-width: 768px) {
  .likearts-content .print-form__title {
    font-size: 1.5rem;
  }
}
.likearts-content .print-form__title span {
  font-size: 2.4rem;
  font-weight: 900;
}
@media all and (max-width: 768px) {
  .likearts-content .print-form__title span {
    font-size: 2rem;
    margin: 0 0 20px 0;
  }
}
.likearts-content .print-form__input-wrap {
  position: relative;
  width: 100%;
  max-width: 288px;
  margin: 0 0 20px 0;
}
@media all and (max-width: 1200px) {
  .likearts-content .print-form__input-wrap {
    margin: 0 0 10px 0;
  }
}
.likearts-content .print-form__input {
  display: block;
  width: 100%;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 50px;
  padding: 20px 50px 20px 24px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 100;
  margin: 0 auto;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media all and (max-width: 992px) {
  .likearts-content .print-form__input {
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
    box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
  }
}
.likearts-content .print-form__input:focus {
  outline: none;
  background-color: #fff;
  color: #000;
  border: 1px solid #1ecef4;
  -webkit-box-shadow: 0 3px 10px rgba(30,206,244,0.16), 0 3px 10px rgba(30,206,244,0.23);
  box-shadow: 0 3px 10px rgba(30,206,244,0.16), 0 3px 10px rgba(30,206,244,0.23);
}
.likearts-content .print-form__input-icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  right: 0;
  -webkit-transform: translate(-100%, -50%);
  -moz-transform: translate(-100%, -50%);
  -o-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
  width: 21px;
  height: 21px;
}
.likearts-content .print-form__input-icon--user {
  background-image: url("../../images/icons/user--w.png");
}
.likearts-content .print-form__input-icon--phone {
  background-image: url("../../images/icons/phone--w.png");
}
.likearts-content .print-form .print-form__input--user:focus + .print-form__input-icon--user {
  background-image: url("../../images/icons/user.png");
}
.likearts-content .print-form .print-form__input--phone:focus + .print-form__input-icon--phone {
  background-image: url("../../images/icons/phone.png");
}
