@import 'nib'

//colors
$primary-color = #1ecef4
$bg-color = #f8f8f8
$color-text = #181818
$color-text-hint = #717171
$menu-bg-color = #212121
$menu-bg-color-hover = #2c2c2c

//resolutions
$phone = 640px
$tablet = 768px
$notebook = 1024px
$desktop = 1600px

//params
$container-width = 1170px