html,
body {
  width: 100%;
  height: auto;
  min-height: 100%;
}
.likearts-content {
  font-family: 'MyseoSansCyrl', sans-serif;
  font-weight: 400;
  background: #f8f8f8;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  color: #181818;
}
.likearts-content a:hover {
  outline: none;
  text-decoration: none;
}
.likearts-content a:active {
  outline: none;
  text-decoration: none;
}
.likearts-content a:focus {
  outline: none;
  text-decoration: none;
}
.likearts-content .icon {
  display: inline-block;
}
.likearts-content .container-fluid {
  padding: 0;
  margin: 0;
}
.likearts-content .main-layout {
  max-width: 1170px;
  margin: 0 auto;
}
@media all and (max-width: 1250px) {
  .likearts-content .main-layout {
    padding: 0 15px;
  }
}
.likearts-content .section__title {
  position: relative;
  z-index: 10;
}
.likearts-content .section__title--h1 {
  margin: 0;
  color: #fff;
  font-weight: 300;
  font-size: 4.3rem;
}
.likearts-content .section__title--h1 span {
  font-weight: 900;
}
@media all and (max-width: 992px) {
  .likearts-content .section__title--h1 {
    font-size: 3.3rem;
  }
}
@media all and (max-width: 768px) {
  .likearts-content .section__title--h1 {
    font-size: 2.3rem;
  }
}
