@import './variables.styl'

html, body
	width 100%
	height auto
	min-height 100%

.likearts-content
	font-family 'MyseoSansCyrl', sans-serif
	font-weight 400
	background $bg-color
	font-smoothing antialiased
	overflow-scrolling touch
	color $color-text

.likearts-content a
	&:hover
		outline none
		text-decoration none
	&:active
		outline none
		text-decoration none
	&:focus
		outline none
		text-decoration none

.likearts-content .icon
	display inline-block

.likearts-content .container-fluid
	padding 0
	margin 0

.likearts-content .main-layout
	position relative
	max-width $container-width
	margin 0 auto
	@media all and (max-width: 1250px)
		padding 0 15px
	
	&--phone
		@media all and (max-width: $phone)
			padding 0

.likearts-content .section
	&__title
		position relative
		z-index 10
		&--h1
			margin 0 0 50px 0
			color #fff
			font-weight 300
			font-size 4.3rem
			span
				font-weight 900
			@media all and (max-width: 992px)
				font-size 3.3rem
			@media all and (max-width: $tablet)
				font-size 2.3rem
		&--h2
			margin 0 0 26px 0
			text-align center
			font-weight 900
			font-size 3.6rem
			@media all and (max-width: 992px)
				font-size 2.3rem
			@media all and (max-width: $tablet)
				font-size 1.8rem

			
			&--margin-b-32
				margin 0 0 32px 0

		&--h3
			margin 0 0 51px 0
			text-align center
			font-weight 500
			font-size 1.6rem
			@media all and (max-width: $tablet)
				font-size 1.3rem
			&:before
				content ''
				position absolute
				top 50%
				transform translate(calc(-100% - 10px), -50%)
				width 20px
				height 2px
				background-color $primary-color
			&:after
				content ''
				position absolute
				top 50%
				transform translate(calc(100% - 10px), -50%)
				width 20px
				height 2px
				background-color $primary-color

		&--margin-b-40
			margin 0 0 40px 0

.likearts-content .shiled
	position absolute
	z-index 0
	display inline-block
	text-transform uppercase
	color #fff
	text-shadow 0 0 50px rgba(0, 0, 0, 0.05)
	font-weight 900
	font-size 10.26rem
	transform rotate(-90deg)
	user-select none
	cursor default
	@media all and (max-width: 1440px)
		display none

	&--left
		left -293px
		margin-top 278px
	&--right
		right -300px
		margin-top -270px

	&--horizontal-left
		transform rotate(0deg)
		left -136px
		margin-top 18px

	&--horizontal-right
		transform rotate(0deg)
		right -102px
		margin-top -57px

.likearts-content .hidden
	display none

